---
---
@charset "utf-8";

@import 'vendor/normalize';

@import 'base/root';

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	color:black;
	background-color:white;
	margin-top:50px;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color:black
}

h4,p {text-align:center}

img {
	width:100%;
}